# Configuración de la Base de Datos PostgreSQL
POSTGRES_DB=joomladb
POSTGRES_USER=joomlauser
POSTGRES_PASSWORD=joomlapassword123

# Configuración de Joomla
JOOMLA_DB_HOST=database
JOOMLA_DB_NAME=joomladb
JOOMLA_DB_USER=joomlauser
JOOMLA_DB_PASSWORD=joomlapassword123

# Configuración de Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_SERVE_FROM_SUBPATH=true
GF_SERVER_ROOT_URL=%%(PROTOCOL)s://%(DOMAIN)s:%(HTTP_PORT)s/grafana/

# Configuración de Jupyter
JUPYTER_TOKEN=secrettoken123